html, body {
	font: 0.9em 'Lucida Console', Monaco, monospace;
	height: 100%;
  width: 100%;
  margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

section {
  padding: 40px 0;
  z-index: 0;
  -webkit-transform: translateZ( 0 );
  transform: translateZ( 0 );
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
/*
 *Scrolling
 */

a[id= "intro" ]:target ~ section {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}
a[id= "projects" ]:target ~ section {
    -webkit-transform: translateY( 100vh );
    transform: translateY( 100vh);
}
a[id= "contact" ]:target ~ section {
    -webkit-transform: translateY( 100vh );
    transform: translateY( -1000px );
}

#projects {
  align-items: center;
  vertical-align: middle;
}
#intro {
  display: flex;
  height: calc(100vh - 154px);
  background: rgba(255, 255, 255, 0);
  align-items: center;
  padding-bottom: 300px;
}
#intro {
  text-align: center;
}
#intro div {
  width: 50%;
  margin: 0 auto;
}
#contact {
  height: 100vh;
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.section-heading { 
  padding-bottom: 40px;
}
.section-description {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 3rem;
}

.navbar {
    padding: 60px 40px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3rem;
        padding-left: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-icon {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}
i {
    color: rgba(0,0,0,1);
}

.center {
  margin: 0 auto;
  text-align: center;
}
.no-pad {
    padding: 0;
}
[class*='col-'] {
    transition: all 1s ease-in-out;
}

.project {
    width: 101%;
    float: left;
    overflow: hidden;
}
.project img {
    width: 100%;
    height:100%;
    border: none;
}


.content {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content h1 {
  font-size: 1.5rem;
}
.content .overlay {
  background-color: rgba(255,255,255,.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .overlay {
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 0;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}


.btn {
  background: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 155px;
}
.btn:hover {
  background: none;
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.3);
}
.btn {
  border-radius: 0px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  line-height: 1;
  border: 3px solid rgba(0, 0, 0, 0.3);
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/* Filter buttons in projects.html */
.filters {
  padding: 0px;
  list-style: none;
  overflow: hidden;
  display: inline-block;
  margin: 32px auto;
}
.filters li {
  float: left;
  margin-right: 16px;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.filters li:last-child {
  margin-right: 0px;
}
.filters li.active {
    color: black;
    border-bottom: 2px solid black;
}


/** FORM **/
form.inputs-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  margin-bottom: 24px;
}
form input:focus,
form textarea:focus {
  outline: none;
}
form input,
form textarea {
  background: none;
  border: none;
  box-shadow: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 16px;
}
form input::-moz-placeholder,
form textarea::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #777777;
}
form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #777777;
}
form input input::-webkit-input-placeholder,
form textarea input::-webkit-input-placeholder {
  color: #777777;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  top: 5px;
}
form input input:-moz-placeholder,
form textarea input:-moz-placeholder {
  color: #777777;
}
form input textarea::-webkit-input-placeholder,
form textarea textarea::-webkit-input-placeholder {
  color: #777777;
}
form input textarea:-moz-placeholder,
form textarea textarea:-moz-placeholder {
  color: #777777;
}
form input {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
form textarea {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.message {
  position: relative;
}
.success, .error {
  width: 100%;
  padding: 12px;
  opacity: 0;
  margin-top: 12px;
  color: black;
  position: absolute;
}
.success {
  background-color: #E1F8ED;
  z-index: 0;
}
.error {
  background-color: rgba(255, 0, 0, 0.4);
  z-index: 1;
}
.field-error {
  box-shadow: inset 0px 0px 10px -2px #ff0000 !important;
}



footer {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}